<div class="property__agent--absolute container position-absolute shadow-lg">
		<div class="row bg-white p-5 mb-5">
			<div class="col-sm-12 col-md-4 col-lg-12 text-center pb-3">
				<div class="property__agent--pic pb-3">
					<img src="<%= asset_path('avatar') %>" alt="">
				</div>
				<div class="property__agent--name">
					<strong>Natalia </strong>
				</div>
				<div class="property__agent--number p-0">
					<img class="property__agent--icon d-inline" src="/assets/phone-7b9ea76e2958acd11a3bd6a6b1f1530d472ad9d226c7ae4879328b3519a5ec3a.svg" alt=""> (555) 555-5555
				</div>
			</div>
			<div class="col-sm-12 col-md-8 col-lg-12">
					<%= render "layouts/agent-form" %>
			</div>
		</div>
</div>