<form class="property__agent--formbox">
	<input class="form-control" type="text" placeholder="Tu nombre">
	<input class="form-control" type="text" placeholder="Tu e-mail">
	<input class="form-control" type="textarea" placeholder="Tu mensaje">
</form> 
<input class="property__agent--submit" type="submit" value="Enviar mensaje">