        <div class="col-12 featured-a__box pb-1">
    			<div class="card featured-a__box-image--box shadow-sm mb-4">
    				<img src="<%= asset_path('profile_pic') %>" alt="">
    			</div>
          <div class="card featured-a__box--card mb-4 list-inline-item shadow-sm ">
            <div class="card-body featured-a__box--card-body d-flex flex-column">
              <strong class="mb-0 d-inline  text-center">
                <a class="text-dark" href="#">Sheryl Crow</a>
              </strong>
              <div class="featured-a__info d-inline text-center">
                <img class="featured-a__img d-inline" src="<%= asset_path('phone') %>" alt=""> (555) 555-5555
              </div>
            </div>
          </div>
        </div>