<footer class="main-footer bg-dark_gray text-left py-5">
   <div class="container">
	<!-- START MENU COLS -->
	<div class="row main-footer__top-footer pt-3 justify-content-center">
		<div class="col-md-4">
			<h4>Contáctanos</h4>
			<p>
				Av. Insurgentes Sur 0000, 4to Piso <br>
				Col. Condesa, 0000 Ciudad de México <br>
				Teléfono: 50505050 <br>
				<a href="mailto:daniel@easybroke.com">daniel@easybroke.com</a>
			</p>
		</div>
		<div class="col-md-4">
			<h4>Menú</h4>
			<ul>
				<a href="#"></a>
				<a href="#"><li>Inicio</li></a>
				<a href="#"><li>Ventas</li></a>
				<a href="#"><li>Rentas</li></a>
				<a href="#"><li>Contáctanos</li></a>
				<a href="#"><li>Propietarios</li></a>
				<a href="#"><li>¿Quienes Somos?</li></a>
			</ul>
		</div>
		<div class="col-md-4">
			<h4>Contáctanos</h4>
			<p>
				Av. Insurgentes Sur 0000, 4to Piso <br>
				Col. Condesa, 0000 Ciudad de México <br>
				Teléfono: 50505050 <br>
				<a href="mailto:daniel@easybroke.com">daniel@easybroke.com</a>
			</p>
		</div>
	</div>
	<!-- START MENU COLS -->
		<hr class="hr-light d-none d-lg-block">
	<!-- START MENU SECONDARY -->	
	<div class="row main-footer__bottom-footer pt-3 justify-content-center">
		<div class="col-12">
			<p>Powered by EasyBroke</p>
		</div>
	</div>
	<!-- START MENU SECONDARY -->
   </div>
   <!-- /.container-->
</footer>