<section>
	<div class="hero-home position-relative overflow-hidden p-0 m-0" style="background-image: url(<%= asset_path('lading-hero') %>);">
	     <div class="container">
			<div class="row pt-5 pb-5">
				<div class="hero-home__box col-md-12 col-lg-5 text-white">
			        <h1 class="font-weight-bold">Encuentra tu próxima casa</h1>
					<form class="hero-home__form my-2 my-lg-0">
						<%= render "layouts/select-input" %>
						<input class="hero-home__form--submit" type="submit" value="Buscar Propiedades">
					</form>
				</div>
			</div>
	     </div>
	</div>
</section>
