  <nav class="main-nav__menu navbar navbar-expand-md mb-0 pb-0 navbar-light">
  <!-- MOBILE MENU -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- MOBILE MENU -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item main-nav__menu--item color-dark">
        <a class="nav-link active" href="#">Inicio</a>
      </li>
      <li class="nav-item main-nav__menu--item color-dark">
        <a class="nav-link" href="#">Ventas</a>
      </li>
      <li class="nav-item main-nav__menu--item color-dark">
        <a class="nav-link" href="#">Rentas</a>
      </li>
      <li class="nav-item main-nav__menu--item color-dark">
        <a class="nav-link" href="#">Contáctanos</a>
      </li>
      <li class="nav-item main-nav__menu--item color-dark">
        <a class="nav-link" href="#">Propietarios</a>
      </li>
      <li class="nav-item main-nav__menu--item color-dark">
        <a class="nav-link" href="#">¿Quienes Sómos?</a>
      </li>
    </ul>
  </div>
</nav>