 <section class="bg-beige mt-overlapped-md">
    <div class="container pt-5 p-5 featured-a">
      <div class="row">
        <div class="col-md-12 text-center pb-5">
          <h2>Propiedades Similares</h2>
        </div>
        <%= render "layouts/featured-propertiesitem" %>
        <%= render "layouts/featured-propertiesitem" %>
        <%= render "layouts/featured-propertiesitem" %>
      </div>
    </div>
 </section>


