<section class="bg-beige">
	<div class="property_-hero container pt-5 pb-5">
		<div class="row">
			<div class="col-12">
			<div class="property-hero__adress">
				<i class="property-hero__adress--icon fas fa-map-marker-alt"></i>
				Sevilla 113, Portales Norte, Benito Juárez, Ciudad de México
			</div>
			<h1>Departamento amplio y remodelado en Portales Norte</h1>
			</div>
		</div>
	</div>
</section>
<%= render "layouts/property-hero__carousel" %>