<section class="bg-black">
	<div class="property__hero--features container">
		<div class="row">
			<div class="property__hero--leftbar col-lg-8 text-white">
				<div class="row">
					<ul class="property__hero--ul property__hero--ultop p-0 m-0">
						<li class="property__hero--li">
							<div class="property__hero--feature text-center">
								<strong class="property__hero--data">$5,000</strong>
								<div class="property__hero--label">En ventas</div>
							</div>
						</li>
						<li class="property__hero--li">
							<div class="property__hero--feature text-center">
								<strong class="property__hero--data">$5,000</strong>
								<div class="property__hero--label">En ventas</div>
							</div>
						</li>
						<li class="property__hero--li">
							<div class="property__hero--feature text-center">
								<strong class="property__hero--data">3</strong>
								<div class="property__hero--label">Recamaras</div>
							</div>
						</li>
						<li class="property__hero--li">
							<div class="property__hero--feature text-center">
								<strong class="property__hero--data">2</strong>
								<div class="property__hero--label">Baños</div>
							</div>
						</li>
					</ul>

					<ul class="property__hero--ul property__hero--ulbottom p-0 m-0">
						<li class="property__hero--li">
							<div class="property__hero--feature text-center">
								<strong class="property__hero--data">400 sq-ft.</strong>
								<div class="property__hero--label">En ventas</div>
							</div>
						</li>
						<li class="property__hero--li">
							<div class="property__hero--feature text-center">
								<strong class="property__hero--data">400 sq-ft.</strong>
								<div class="property__hero--label">En ventas</div>
							</div>
						</li>
						<li class="property__hero--li">
							<div class="property__hero--feature text-center">
								<strong class="property__hero--data">300 sq-ft.</strong>
								<div class="property__hero--label">Terreno</div>
							</div>
						</li>
						<li class="property__hero--li">
							<div class="property__hero--feature text-center">
								<strong class="property__hero--data">2</strong>
								<div class="property__hero--label">Estacionamientos</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="property__agent--card col-12 col-sm-12 col-md-12 col-lg-4 p-0 position-relative">
				<%= render "layouts/agent-card" %>
			</div>
		</div>
	</div>
</section>




<section>
	<div class="property__hero property__body container pb-5">
		<div class="row">
			<div class=" col-lg-8">
				<div class="row pt-5">
					<div class="col-lg-3">
						<strong>Descripción</strong>
					</div>
					<div class="col-lg-8">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4"></div>
		</div>

		<div class="row pt-5">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3">
						<strong>Características</strong>
					</div>
					<div class="col-lg-8">
						<ul>
							<li>Accesible para Personas con Capacidades Diferentes</li>
							<li>Aire Acondicionado</li>
							<li>Alarma de Seguridad</li>
							<li>Balcón</li>
							<li>Calentador de Agua</li>
							<li>Chimenea</li>
							<li>Portero</li>
							<li>Seguridad Privada</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4"></div>
		</div>

		<div class="row pt-5">
			<div class="col-md-12 p-0">

			<div class="google-maps">
			    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0"></iframe>
			    
			    <div class="container">
				  <div class="property__map--adress row justify-content-md-center position-absolute">
				    <div class="property__map--boxadress col col-lg-5 p-4">
						<div class="property-hero__adress--label text-white">
							Ubicación
						</div>
						<div class="property-hero__adress text-white">
							<i class="property-hero__adress--icon fas fa-map-marker-alt"></i>
							Sevilla 113, Portales Norte, Benito Juárez, Ciudad de México
						</div>
				    </div>
				  </div>
				</div>

			</div>



			</div>
		</div>
	</div>
</section>