<!-- Search form -->
  <form class="main-header__search-box--form my-2 my-lg-0">
    <i class="fas fa-search icon"></i>
    <input class="form-control" type="text" placeholder="Buscar Propiedades" aria-label="1Search">
  </form>